---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import PostList from "@components/PostList.astro";

const posts = await getCollection("posts", (entry) => {
  return entry.data.archived === true;
});
---

<BaseLayout pageTitle="Blog Archive">
  <p>
    These posts are either technologically outdated, or they're old and not (in
    my estimation) my most interesting writing, but I've preserved them for
    posterity.
  </p>
  <PostList posts={posts} />
</BaseLayout>
