---
import PostList from "@components/PostList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const featuredPosts = await getCollection(
  "posts",
  (post) => post.data.featured
);
---

<BaseLayout>
  <h1 class="sr-only">Allie Jones</h1>
  <h2 class="sr-only">About me</h2>

  <p>
    Hi, I'm Allie (they/them). I'm a frontend engineer, currently working at
    <a href="https://www.datadoghq.com/">Datadog</a>. Prior to that, I helped
    build <a href="https://www.etsy.com/">Etsy</a>'s frontend infrastructure.
    I'm also an alum of the <a href="http://www.recurse.com/">Recurse Center</a>
    and a former facilitator.
  </p>

  <p>
    In my non-work time, I'm a fiber artist, primarily a handweaver and spinner.
    I live in Brooklyn, NY with my wife and our three cats, surrounded by yarn
    and probably too many computers.
  </p>

  <div class="mt-8 border-b-2 border-ink-100 dark:border-ink-900"></div>

  <h2 class="mt-10">Recent writing and speaking</h2>
  <div class="mb-10">
    <PostList posts={featuredPosts} />
  </div>
</BaseLayout>
